<!doctype html>
<html lang="en">

<head th:insert="librerias::librerias">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

	<title>App</title>

	<!-- <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/album/">-->

	<!-- Bootstrap core CSS -->
	<!-- <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">-->

	<!-- Custom styles for this template -->
	<!-- <link href="album.css" rel="stylesheet">-->
</head>

<body style="background-image: url(); 
            background-size: cover; 
            background-position: center; 
            height: 100%; 
            width: 100%; 
            margin: 0; 
            padding: 0;">

	<header>
		<div th:insert="top::top"></div>

	</header>

	<main role="main">
		<div style="text-align: center; padding-top: 200px;">
			<h1 style="font-size: 100px; color:black">Welcome</h1>
		</div>
	</main>
	<footer class="text-muted">
		
	</footer>

</body>

</html>